# --- Python cache and build files ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Conda / virtual environments ---
.venv/
venv/
env/
tf_env/

# --- Jupyter Notebooks ---
*.ipynb
.ipynb_checkpoints/



# --- Machine Learning Models ---
*.joblib
*.h5
*.pt
*.onnx
!model.pkl  # explicitly keep model.pkl

# --- Streamlit Secrets ---
.streamlit/secrets.toml

# --- Logs and Runtime Files ---
*.log
runtime.txt

# --- Editor and OS files ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Misc ---
*.bak
*.swp
*.tmp


# --- .env ---
.env
